body {
  margin: 0;
  font-family: "Roboto", "Oxygen";
  background: linear-gradient(to right, rgb(9, 100, 54), rgb(0, 0, 0));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
